<html>
{{>shared/templates/header}}

<body class="well">
<div id="wrap" >
    {{>shared/function/hero}}
    <div id="main" class="container-fluid">
        <div class="row-fluid">
            <div id="main-container" class="span8">
                {{>shared/function/searchSymbol}}
            </div>
        </div>
        <div class="span2">
            {{>shared/templates/blank}}
        </div>
    </div>
</div>
</body>
</html>