<!DOCTYPE html>
<html>
{{>shared/header}}
<body>
{{#data}}
    <h3>Symbol:{{symbol}}</h3>
    <ul>
    <li>Date:{{barData.transDate}}</li>
    <li>Open:{{barData.open}}</li>
    <li>High:{{barData.high}}</li>
    <li>Low:{{barData.low}}</li>
    <li>Volume:{{barData.volume}}</li>
    </ul>
{{/data}}
</body>
</html>